* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

/*Fonts*/

.styled-underlined {
    text-decoration: underline;
    text-decoration-color: #FFCC16;
    text-decoration-style: solid;
    text-decoration-thickness: 12px;
    text-underline-offset: 30px;
}

.right-aligned {
    text-align: right;
}

.left-aligned {
    text-align: left;
}

h1 {
    display: inline;
    color: #313131;
    font-size: 5rem;
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 800;
    display: inline;
}

h2 {
    text-align: left;
    display: inline;
    color:#313131;
    margin-bottom: 2rem;;
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;

}

.light {
    color: white;
}

p {
    font-size: x-large;
}

.aboutUs {
    display: flex;
    font-size: 3rem;
}

/*Nav-Bar*/

header nav {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo {
    color: black;
    width: 175px;
}

nav a {
    font-size: larger;
    text-decoration: none;
    color: #313131;
    padding: 0 1.5rem;
}

.nav-button {
    color: #313131;
    background-color: #FFCC16;
    border-style: solid;
    border-width: 1px;
    border-color: #FFCC16;
}

.nav-button:hover {
    color: #313131;
    background-color: white;
    transition: ease-in-out .2s
}

/*HeroSection*/

.heroSection {
    background-color: #273469;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #313131;
    padding: 0rem 4rem;
}

.column-left h1 {
    color: white;
    margin-bottom: 2rem;;
    font-weight: 500;
    font-size: 6rem;
    line-height: 5.25rem;
}

button {
    padding: .75rem 1.25rem;
    font-size: large;
    font-weight: normal;
    border: none;
    color: #313131;
    background: #FFCC16;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
   color: #313131;
    background-color: white;
    transition: ease-in-out .2s
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((90vw - 1300px) / 2);
}

/*ScreenSizeResponsiveness*/

@media screen and (max-width: 950px) {
    .hero-container {
        grid-template-columns: 1fr;
        padding: auto;
    }

    .content-container {
        grid-template-columns: 1fr;
        padding: 100px;
        text-align: center;
    }

    .right-aligned {
        text-align: center;
    }

    .left-aligned {
        text-align: center;
    }

}

@media screen and (max-width: 1200px) {
    header nav {
        height: 90px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;

    }
    .nav-items {
        display: flex;
        align-items: center;
    }
}

/*WhatIsScamLess-Section*/
.what-is-scamless {
    background-color: #F3F3F3
}

.shieldsection-image {
    width: 75%;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/*Easiest-Section*/

.easiestSection {
    background-color:#03174A;
}

.grid-item-1 {
    margin-bottom: 25px;
}

.section-image {
width: 750px;
}

/*Anyone-Section*/

.anyoneCanBe {
    background-color: #F3F3F3
}



/*how-does-it-work*/

.howDoesItWork {
    background-color: white;
}

.hero-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .box1 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 250px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 15px;
    color: #FFCC16;
    background-color: #273469;
  }

  .box1 img {
    width: 100px;
    padding-left: 15px;
  }

  .box1:hover {
    scale: 1.1;
    transition: ease-in-out .3s;
  }

  .box2 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 250px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 15px;
    color: #FFCC16;
    background-color: #273469;
  }

  .box2 img {
    width: 100px;
    padding-left: 15px;
  }

  .box2:hover {
    scale: 1.1;
    transition: ease-in-out .3s;
  }

  .box3 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 250px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 15px;
    color: #FFCC16;
    background-color: #273469;
  }

  .box3 img {
    width: 100px;
    padding-left: 15px;
  }

  .box3:hover {
    scale: 1.1;
    transition: ease-in-out .3s;
  }
  
/*what-are-our-customers-saying*/

.customerQuotes {
    background-color: #F3F3F3
}

.circle {
    display: inline-flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 7px;
    border-style: solid;
    border-color: #273469;
    background-color: white;
}

.grid-container-cards {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem calc((75vw - 1300px) / 2);
}

.card {
    padding: 3rem;
}

.card-text {
    font-style: italic;
}

/*footer*/

footer {
    display: flex;
    background-color: #313131;
    padding: 3rem calc((75vw - 1300px) / 2);
    justify-content: center;
}
    
footer nav {
    align-items: center;
    justify-content: center;
    background-color:#313131;
    
}

footer div {
    display: inline;
    background-color: #313131;
    display: inline-block;
    width: 20%;
    text-align: left;
}

.footer-button {
    background-color: white;
}

.footer-button:hover {
    background-color: #FFCC16;
}

ul li{
    padding-top: 10px;
    list-style-type: none;
}

/*about us page*/

.aboutUs-container {
    display: block;
    height: 110vh;
    padding: 3rem calc((90vw - 1300px) / 2);
}

.About-Us {
    background-color: #273469
}

.spaced {
    margin-bottom: 100px;
}