* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

/*Fonts*/

h1 {
    color: #033D4A;
    margin-bottom: 2rem;;
    font-size: 5rem;
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 800;
    padding-left: 15px;
}

h2 {
    text-align: left;
    display: flex;
    color: black;
    margin-bottom: 2rem;;
    font-size: 4rem;
    font-weight: 400;
}

.light {
    color: white;
}

p {
    font-size: x-large;
}

/*Nav-Bar*/

nav {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo {
    color: black;
    width: 175px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

.nav-button {
    color: white;
    background-color: #B05E6C;
}

.nav-button:hover {
    color: white;
    background-color: #B05E6C;
}

/*HeroSection*/

.heroSection {
    background-color: #033D4A;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 4rem;
}

.column-left h1 {
    color: white;
    margin-bottom: 2rem;;
    font-weight: 500;
    font-size: 6rem;
    line-height: 5.25rem;
}

button {
    padding: .75rem 1.25rem;
    font-size: large;
    font-weight: normal;
    border: none;
    color: white;
    background: #B05E6C;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    padding: .75rem 1.25rem;
    font-size: large;
    color: #B05E6C;
    background: white;
    cursor: pointer;
    border-radius: 50px;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    display: flex;
    width: 100%;
    background-size: cover;
}

/*ScreenSizeResponsiveness*/

@media screen and (max-width: 950px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 900px) {
    nav {
        height: 90px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;
    }
    .nav-items {
        display: flex;
        align-items: center;
    }
}

/*WhatIsScamLess-Section*/

.shieldsection-image {
    width: 80%;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/*Easiest-Section*/

.easiestSection {
    background-color: #033D4A;
}

/*Anyone-Section*/

.section-image {
    width: 100%;
}

/*how-does-it-work*/

.quotes-container {
    display: grid;
    height: 85vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.grid-container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}