* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

/*Fonts*/

.styled-underlined {
    text-decoration: underline;
    text-decoration-color: #FFCC16;
    text-decoration-style: solid;
    text-decoration-thickness: 12px;
    text-underline-offset: 20px;
}

.small-styled-underlined {
    text-decoration: underline;
    text-decoration-color: #FFCC16;
    text-decoration-style: solid;
    text-decoration-thickness: 8px;
    text-underline-offset: 20px;
}

.right-aligned {
    text-align: right;
}

.left-aligned {
    text-align: left;
}

h1 {
    display: inline;
    color: #313131;
    font-size: 5rem;
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 800;
    display: inline;
}

h2 {
    text-align: left;
    display: inline;
    color:#313131;
    margin-bottom: 2rem;;
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    color:#313131;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;

}

.emph-yel {
    color: #FFCC16;
}

.emph-blue {
    color: #03174A;
}

.emph-light-blue {
    color: #1B3B9E;
}

.light {
    color: white;
}

p {
    font-size: x-large;
}

.aboutUs {
    display: flex;
    font-size: 3rem;
}

/*Nav-Bar-Section*/

header nav {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo {
    color: black;
    width: 175px;
    cursor: pointer;
}

nav a {
    font-size: larger;
    text-decoration: none;
    color: #313131;
    padding: 0 1.5rem;
}

nav a:hover {
    font-size: larger;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: #FFCC16;
    text-decoration-style: solid;
    text-decoration-thickness: 6px;
    text-underline-offset: 5px;
    color: #313131;
    padding: 0 1.5rem;
}

.nav-button {
    color: #313131;
    background-color: #FFCC16;
    border-style: solid;
    border-width: 4px;
    border-color: #FFCC16;
}

.nav-button:hover {
    color: #FFCC16;
    background-color: #03174A;
    transition: ease-in-out .2s;
    border-style: solid;
    border-width: 4px;
    border-color: #03174A
}

.nav-button:active {
    height: 50px;
    color: #313131;
    background-color: #FFCC16;
    border-style: solid;
    border-width: 4px;
    border-color: #FFCC16;
    transition: background-color ease .5s;
}

.margin {
    margin-top: 2rem;
}

/*HeroSection*/

.heroSection {
    background-color: #03174A;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #313131;
    padding: 0rem 4rem;
}

.column-left h1 {
    font-weight: 650;
    font-size: 6rem;
    line-height: 5.25rem;
}

button {
    padding: .75rem 1.25rem;
    font-size: large;
    font-weight: normal;
    border: solid #1B3B9E;
    border-width: 2px;
    color: white;
    background: #1B3B9E;
    cursor: pointer;
    border-radius: 50px;
    transition: ease-out .2s;
}

button:hover {
    color: #1B3B9E;
    background-color: white;
    border: solid #1B3B9E;
    border-width: 2px;
    transition: ease-in .2s;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    padding: 3rem calc((90vw - 1300px) / 2);
}

/*ScreenSizeResponsiveness*/

@media screen and (max-width: 1500px) {
    .hero-container {
        grid-template-columns: 1fr;
        padding: auto;
    }

    .content-container {
        grid-template-columns: 1fr;
        padding: 100px;
        text-align: center;
    }

    .shieldsection-image {
        width: 300px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .right-aligned {
        text-align: center;
    }

    .left-aligned {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .column-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #313131;
        padding: 0rem 4rem;
    }

}

@media screen and (max-width: 1200px) {
    header nav {
        height: 90px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;

    }
    .nav-items {
        display: flex;
        align-items: center;
    }
}

/*WhatIsScamLess-Section*/
.what-is-scamless {
    background-color: #F3F3F3
}

.shieldsection-image {
    scale: 1;
    margin-left: 100px;
}


.section-title {
    display: block;
    text-align: center;

    padding-top: 100px;
}

/*Easiest-Section*/

.easiestSection {
    background-color:#03174A;
}

.grid-item-1 {
    margin-bottom: 25px;
}

.section-image {
width: 750px;
}

/*Anyone-Section*/

.anyoneCanBe {
    background-color: #F3F3F3
}



/*how-does-it-work*/

.howDoesItWork {
    background-color: #03174A;
    background-image: url('images/Vector\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80%;
    background-position: center
    
}

.hero-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 75vh;
    padding: 3rem calc((75vw - 1300px) / 2);
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

.details {
    display: flex;
    margin-top: 350px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.25rem;
    color: white;
  }

  .details-2 {
    display: flex;
    margin-top: 350px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.25rem;
    color: white;
  }

  .details-3 {
    display: flex;
    margin-top: 350px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.25rem;
    color: white;
  }

  .details-4 {
    display: flex;
    font-size: 1.25rem;
    padding-top: 20px;
    text-align: left;
    color: #313131
  }

  .box1 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 190px;
    width: 100%;
    height: 25%;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #1B3B9E;
  }

  .box1 img {
    width: 120px;
    padding-left: 30px;
  }

  .box2 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 190px;
    width: 100%;
    height: 25%;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #1B3B9E;
  }

  .box2 img {
    width: 125px;
    padding-left: 30px;
  }

  .box3 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 190px;
    width: 100%;
    height: 25%;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #1B3B9E;
  }

  .box3 img {
    width: 150px;
    padding-left: 30px;
  }

  .box4 {
    display: inline;
    position: absolute;
    border-color: #FFCC16;
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    text-align: center;
    top: -100px;
    right: -125%;
    width: 100%;
    padding: 20px;
    color: #313131;
    background-color: white;
  }
 

  .steps1 {
    padding: 20px;
    display: inline;
    scale: .7;
  }
  .steps2 {
    padding: 20px;
    display: inline;
    scale: 1.1;
  }
  .steps3 {
    padding: 20px;
    display: inline;
    scale: 1;
  }
  
/*what-are-our-customers-saying*/

.customerQuotes {
    background-color: #F3F3F3
}

.circle {
    display: inline-flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 7px;
    border-style: solid;
    border-color: #273469;
    background-color: white;
}

.grid-container-cards {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem calc((75vw - 1300px) / 2);
}

.card {
    padding: 3rem;
}

.card-text {
    font-style: italic;
}

/*footer*/

footer {
    display: flex;
    background-color: #313131;
    padding: 3rem calc((75vw - 1300px) / 2);
    justify-content: center;
}

footer div {
    display: inline;
    background-color: #313131;
    display: inline-block;
    width: 20%;
    text-align: left;
}

.footer-button {
    background-color: white;
    color: #313131;
    border: none;
}

.footer-button:hover {
    background-color: #FFCC16;
    border: none;
}

ul li{
    padding-top: 10px;
    list-style-type: none;
}

.centered-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*about us / resources / contact pages*/

.aboutUs-container {
    margin-top: 50px;
    display: block;
    height: 90vh;
    padding: 3rem calc((90vw - 1300px) / 2);
}

.resources-container {
    margin-top: 50px;
    display: block;
    height: 70vh;
    padding: 3rem calc((90vw - 1300px) / 2);
}

.section-heading {
    height: 30vh;
    background-color: #03174A;
}

.spaced {
    margin-bottom: 50px;
}

.BG-light-blue {
   background-color: #E2E7F5;
   display: flex;
   align-items: center;
   justify-content: center;
}

.grid-container-resource-cards {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem calc((75vw - 1300px) / 2);
}

.rectangle {
    display: inline-flex;
    width: 267px;
    height: 352px;
    justify-content: center;
    align-items: center;
    border-width: 7px;
    border-radius: 50px;
    border-style: solid;
    border-color: #273469;
    background-color: white;
    transition: ease-out .2s;
}

.rectangle:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0px 10px #FFCC16;
    transition: ease-in .2s;
}

.section-heading-contact {
    height: 70vh;
    background-color: #03174A;
}

.contact-us-container {
    display: block;
    height: 70vh;
    padding: 3rem calc((90vw - 1300px) / 2);
}

.grid-container-contact-cards {
    display: grid;
    align-items: baseline;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem calc((75vw - 1300px) / 2);
}

.rectangle-borderless {
    display: inline-flex;
    width: 267px;
    justify-content: center;
    align-items: center;

}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
  input[type=submit] {
    scale: 1.2;
    margin-left: 10px;
    background-color: #FFCC16;
    color: #313131;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #03174A;
    color: white;
  }
  
  .container2 {
    border-radius: 5px;
    padding: 20px;
  }